OPENAI_API_KEY=your-openai-api-key-here
NIA_API_KEY=your-nia-api-key-here  # works without this, just wont get waf bypasses
ALLSCALE_API_KEY=your-allscale-api-key-here # works without this, just wont pay it
ALLSCALE_API_SECRET=your-allscale-api-secret-here
GITHUB_TOKEN=your-github-token-here
